/** use grid to create flexible grids **/
body {
    /** display: grid;
     grid-auto-flow: column;
     gap: 6px; **/
    background-color: black;
}

header{
    display: grid;
    grid-auto-flow: column;
    grid: auto/30% auto;

}

main{

    display: grid;
    grid-auto-flow: row;
    grid: auto/auto auto;
    gap: 6px;
}
footer{
    display: grid;
    grid-auto-flow: column;
    grid: auto / auto;
}

div {
    border: 0 solid #ffffff;
    margin-left: 6px;
}

@media screen and (max-width: 768px) {
    body {
        grid-auto-flow: row;
    }
}

@media screen and (max-width: 1100px) {
    body {
        grid-auto-flow: row;
    }
}

@media screen and (max-width: 900px) {
    body {
        grid-auto-flow: row;
    }
}

@media screen and (max-width: 720px) {


}

/** make images responsive **/
img {
    display: block;
    max-width: 100%;
}

.main__container{
    /**margin: 30px auto 30px auto;
    border: solid 1px black; **/
}

.main__container img {

    position: absolute;

}

.sobreposition{
    position:absolute;
    margin: 20px 0 30px 60px;
    border: solid 1px black;
    box-shadow: 0px 0px 6px #000;
}

.sobreposition p{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 3px #000;
}

.sobreposition button{
    border: none;
    color: white;
    background-color: black;
    margin: 30px 90px 3px 55px;
    padding: 9px 30px 9px 30px;
}