/** use grid to create flexible grids **/
body {
   /** display: grid;
    grid-auto-flow: column;
    gap: 6px; **/
    background-color: black;
}

header{
    display: grid;
    grid-auto-flow: column;
    grid: auto/30% auto;

}

main{

    display: grid;
    grid-auto-flow: column;
    grid: auto/auto;
    gap: 6px;
}

footer{
    display: grid;
    grid-auto-flow: column;
    grid: auto / auto;
}

div {
    border: 0 solid #ffffff;
    margin-left: 6px;
}

div.container-one{
    align-content: center;

}

@media screen and (max-width: 768px) {
    body {
        grid-auto-flow: row;
    }
}

@media screen and (max-width: 1100px) {
    body {
        grid-auto-flow: row;
    }
}

@media screen and (max-width: 900px) {
    body {
        grid-auto-flow: row;
    }
}

@media screen and (max-width: 720px) {


}

/** make images responsive **/
img {
    display: block;
    max-width: 100%;
}

.intro{
    display: block;
    max-width: 100%;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
}

p.introtext{
    color: floralwhite;
    font-size: large;
    position: absolute;
    top: 50%;
    left: 10%;
    text-align: justify;
    width: 50%;
}

