@media only screen and (max-width:800px) {
    /* For tablets: */
    .main {
        width: 80%;
        padding: 0;
    }
    .right {
        width: 100%;
    }
}


@media only screen and (max-width:500px) {
    /* For mobile phones: */
    .menu, .main, .right {
        width: 100%;
    }
}

.images {
    width:100%;
    max-width:100%;
}

header{
    background-color: #F9F8FC;
}

body{
    background-color: #000000;
    padding: 30px;
}

#logo{
    margin: auto;
    height: 250px;
    width: 320px;
    text-align: center;
}

/* Clear floats after the columns */
section::after {
    content: "";
    display: table;
    clear: both;
}

article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 300px; /* only for demonstration, should be removed */
}

/* Style the footer */
footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}